// Body
$body-bg: #EDF2F4;
$body-color: #2B2D42;

$dark-blue: #2B2D42;
$light-blue: #8D99AE;
$light-grey: #EDF2F4;
$light-red: #EF233C;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

