@import "variables";
/* dart-sass/sass.bat public/scss:public/css --watch */

.game-container{
    min-height: 80vh;
    width: 100%;
    .game-layout{
        .game-display{
            width: 100%;
            min-height: 70vh;
        }
        .gamebar{
            min-height: 10vh;
            background-color: $dark-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            .fullscreen-button{
                border: 2px solid $light-grey;
                color: $light-grey;
                background-color: transparent;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    border: 2px solid $dark-blue;
                    color: $dark-blue;
                    background-color: $light-grey;
                }
            }
            .like-button{
                border: 2px solid $light-grey;
                color: $light-grey;
                background-color: transparent;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    border: 2px solid $dark-blue;
                    color: $dark-blue;
                    background-color: $light-grey;
                }
            }
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }

}
