@import "variables";
/* dart-sass/sass.bat public/scss:public/css --watch */


body{
    background-color: $light-blue !important;
    color: $light-grey;
}
button{
    transition: all 0.3s ease !important;
}
.navigation{
    background-color: $dark-blue;
}
.card{
    background-color: $dark-blue;
}
